@import url(./vars.css);

body {
  font-family: var(--font-family-base, "Poppins ,Pretendard, sans-serif");
  letter-spacing: -3%;
}

/* bootstrap container reset */
.container {
  width: 100%;
}

.text-main {
  color: var(--color-primary) !important;
}
.krfont {
  font-family: "Pretendard" !important;
}

/* line-height */
.lh-15 {
  line-height: 1.5 !important;
}
.lh-14 {
  line-height: 1.4 !important;
}
.lh-13 {
  line-height: 1.3 !important;
}
.lh-12 {
  line-height: 1.2 !important;
}
.lh-11 {
  line-height: 1.1 !important;
}
.lh-10 {
  line-height: 1 !important;
}
.lh-9 {
  line-height: 0.9 !important;
}
.lh-8 {
  line-height: 0.8 !important;
}
.lh-7 {
  line-height: 0.7 !important;
}
.lh-6 {
  line-height: 0.6 !important;
}
.lh-5 {
  line-height: 0.5 !important;
}

.rounded-3 {
  border-radius: 20px !important;
}
@media (max-width: 768px) {
  .rounded-3 {
    border-radius: 14px !important;
  }
}

.fw100 {
  font-weight: 100 !important;
}
.fw200 {
  font-weight: 200 !important;
}
.fw300 {
  font-weight: 300 !important;
}
.fw400 {
  font-weight: 400 !important;
}
.fw500 {
  font-weight: 500 !important;
}
.fw600 {
  font-weight: 600 !important;
}
.fw700 {
  font-weight: 700 !important;
}
.fw800 {
  font-weight: 800 !important;
}
.fw900 {
  font-weight: 900 !important;
}

.footer-custom,
.container-custom {
  width: 100%;
  max-width: var(--container-width);
  padding-left: var(--container-padding-x);
  padding-right: var(--container-padding-x);
  margin: 0 auto;
}

.footer-custom {
  padding-top: var(--footer-padding-y);
  padding-bottom: var(--footer-padding-y);
}

/* =========================
   section padding
========================= */
#hero {
  background-image: url("../img/bg_img/hero_bgimg.jpg");
  background-size: cover;
  background-position: center;
}


#about,
#step,
#reviews,
#faq {
  padding: var(--section-padding-y-mobile) 0;
}

#hero {
  padding: calc(var(--section-padding-y-mobile) + 10px) 0;
}

#cta-banner,
#newsletter {
  padding: calc(var(--section-padding-y-mobile) + 20px) 0;
}

@media (min-width: 1280px) {
  #hero,
  #about,
  #step,
  #reviews,
  #faq {
    padding: var(--section-padding-y-desktop) 0;
  }
  #hero {
    padding: 280px 0;
  }
  #cta-banner {
    padding: 300px 0;
  }
  #newsletter {
    padding: 200px 0;
  }
}

.h1 {
  font-size: clamp(var(--title-h1-mobile), 2vw + 18px, var(--title-h1));
  line-height: clamp(
    var(--title-h1-mobile-line-height),
    3vw + 22px,
    var(--title-h1-line-height)
  );
}

.h1-sub {
  font-size: clamp(var(--title-h1-sub-mobile), 1vw + 12px, var(--title-h1-sub));
  line-height: clamp(
    var(--title-h1-sub-mobile-line-height),
    2vw + 12px,
    var(--title-h1-sub-line-height)
  );
}

.h2 {
  font-size: clamp(var(--title-h2-mobile), 2vw + 20px, var(--title-h2));
  line-height: clamp(
    var(--title-h2-mobile-line-height),
    2vw + 30px,
    var(--title-h2-line-height)
  );
}

.h2-sub {
  font-size: clamp(var(--title-h1-sub-mobile), 1vw + 12px, var(--title-h1-sub));
  line-height: clamp(
    var(--title-h1-sub-mobile-line-height),
    2vw + 12px,
    var(--title-h1-sub-line-height)
  );
}

.card-title {
  font-size: clamp(var(--card-title-mobile), 1vw + 20px, var(--card-title));
  line-height: clamp(
    var(--card-title-mobile-line-height),
    2vw + 24px,
    var(--card-title-line-height)
  );
}

.card-desc {
  font-size: clamp(var(--card-desc-mobile), 0.5vw + 14px, var(--card-desc));
  line-height: clamp(
    var(--card-desc-mobile-line-height),
    0.5vw + 20px,
    var(--card-desc-line-height)
  );
}

.caption {
  font-size: var(--caption);
  line-height: clamp(
    var(--caption-mobile-line-height),
    0.2vw + 17px,
    var(--caption-line-height)
  );
}

.button-text {
  font-size: clamp(var(--button-mobile), 0.5vw + 16px, var(--button));
}

.faq-question {
  font-size: clamp(
    var(--faq-question-mobile),
    0.5vw + 14px,
    var(--faq-question)
  );
  line-height: clamp(
    var(--faq-question-mobile-line-height),
    0.5vw + 22px,
    var(--faq-question-line-height)
  );
}
/* 기본 모바일 설정 (100px) */
.newsletter-number {
  font-size: 100px;
}
.newsletter-plus {
  font-size: 66px;
}

/* 768px 이상의 화면부터는 120px로 고정 */
@media (min-width: 768px) {
  .newsletter-number {
    font-size: 120px;
  }
  .newsletter-plus {
    font-size: 80px;
  }
}

.section-caption {
  font-size: clamp(
    var(--section-caption-mobile),
    1vw + 12px,
    var(--section-caption)
  );/
}

 .nav-font {
  font-size: clamp(
    var( --nav-font-size)
  );
 }

.section-title {
  margin-bottom: var(--section-gap-title-desc);
}
.section-desc {
  margin-bottom: var(--section-gap-desc-card);
}
.card-list {
  display: flex;
  gap: var(--card-gap);
}

.footer-text {
  font-size: 14px;
}


/* =========================
   dim overlay
========================= */
.dim::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

/* layout */

/* ---------- header ---------- */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: var(--txt);
  color: var(--black);
  background-color: #fff;
  z-index: 1000;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}
.header.down {
  transform: translateY(-100%);
}
.header.up {
  transform: translateY(0);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.header .header_in {
  display: grid;
  grid-template-columns: max-content minmax(0, 1fr) max-content;
  gap: 0;
  width: 100%;
  max-width: 100%;
  height: var(--hdH, 80px);
  padding: 0 4rem;
  align-items: center;
}

.header .logo {
  grid-row: 1;
  width: max(20rem, 200px);
  transition: filter 0.3s ease;
}
.header .logo svg {
  display: block;
  width: 100%;
}

.header .nav .top_box {
  display: none;
}
.header .nav {
  grid-column: 2;
  grid-row: 1;
  height: 100%;
  margin: 0 auto;
  font-size: var(--txt2);
}
.header .nav .depth1 {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.header .nav .depth1 li {
  position: relative;
  height: 100%;
  transition: color 0.3s ease;
}
.header .nav .depth1 > li > a {
  position: relative;
  display: flex;
  height: 100%;
  padding: 0 4rem 0;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  white-space: nowrap;
  transition:
    padding 0.5s ease,
    color 0.3s ease;
}
.header .nav .depth1 > li > a span {
  position: relative;
}
.header .nav .depth1 > li.active > a {
  color: var(--brown);
}
.header .nav .depth1 > li.active > a span:before {
  opacity: 1;
  transform: translate(-50%, calc(-100% - 3px));
}

.header .nav .depth2 {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  padding-top: 20px;
  transform: translate(-50%, 100%);
  white-space: nowrap;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  transition-delay: -0.1s;
  z-index: 1;
}
.header .nav .depth2 > li > a {
  display: block;
  padding: 9px 0;
  font-size: 0.9em;
  font-weight: 500;
  transition: color 0.3s ease;
  color: var(--gray);
}
.header .nav .depth2 > li > a:hover {
  color: var(--brown);
}
.header .nav .depth2 > li.active > a {
  font-weight: 600;
  color: var(--brown);
}
.header .nav .depth2 > li > a > span {
  position: relative;
}

.header .util_wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-column: 3;
  grid-row: 1;
  height: 100%;
  font-size: 0.9em;
}
.header .util_wrap .util_btn {
  display: inline-block;
  padding: 0.7em 1.2em;
  border-radius: 2em;
  font-weight: 600;
  font-size: var(--smTxt);
  transition:
    background 0.3s ease-in-out,
    color 0.3s ease-in-out,
    border 0.3s ease-in-out;
}
.header .util_wrap .util_btn + .util_btn {
  margin-left: 1em;
}
.header .util_wrap .util_btn.join {
  border: 1px solid var(--black);
}
.header .util_wrap .util_btn.login {
  background-color: var(--green);
  border: 1px solid var(--green);
  color: #fff;
}
.header .util_wrap .util_btn.join.logout {
  display: block;
}

.header.on .header_in {
  border-bottom: 2px solid var(--lineColor);
}
.header.on .nav .depth1 > li > a {
  padding: 0 5rem 0;
}
.header.on .nav .depth2 {
  transition-delay: 0.1s;
  pointer-events: auto;
  opacity: 1;
}
.header .nav .gnb_bg {
  position: absolute;
  left: 50%;
  bottom: 1px;
  width: 100%;
  height: 0;
  background-color: #fff;
  transform: translate(-50%, 100%);
  transition: all 0.5s;
}
.header.on .nav .gnb_bg {
  height: 38rem;
  box-shadow: rgba(0, 157, 165, 0.07) 0px 8px 15px;
}


@media screen and (min-width: 1280px) {
  .header .util_wrap .util_btn:hover {
    background-color: var(--black);
    color: #fff;
    border-color: var(--black);
  }
  .header .nav .depth1 > li > a:hover {
    color: var(--brown);
  }

  .main .header.top {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
  }

  /* .main .header.top .logo{filter: brightness(0) saturate(0) invert(1);} */
  .main .header.top .nav .gnb_bg {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .main .header.top .nav .depth1 > li > a {
    color: #fff;
    transition:
      padding 0.5s ease,
      color 0s ease;
  }
  .main .header.top .util_wrap .util_btn.join {
    border-color: #fff;
    color: #fff;
  }
  .main .header.top .util_wrap .util_btn.login {
    background-color: #fff;
    border: 1px solid #fff;
    color: var(--black, #000);
  }
  .main .header.top .util_wrap .util_btn:hover {
    background-color: var(--black, #000);
    color: #fff;
    border-color: var(--black, #000);
  }
}

@media (max-width: 768px) {
    .nav { display: none; } /* 모바일에서는 숨기고 햄버거 메뉴로 대체 */
}

/* 모바일(작은 화면)에서는 370px */
.about-card-body {
  min-height: 370px !important;
}

/* 태블릿 이상(768px 이상) 화면에서는 400px */
@media (min-width: 768px) {
  .about-card-body {
      min-height: 400px !important;
  }
}


/* quick menu */
#quickMenu {
  right: 48px;
  z-index: 9999;
}

/* 1280 이하 */
@media (max-width: 1279px) {
  #quickMenu {
    right: 16px;
  }
}

/* quick button */
.quick-btn {
  width: 96px;
  height: 96px;

  border-radius: 50%;
  background: var(--color-primary);

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  line-height: 1.3;
  color: var(--color-white);
  font-size: 16px;

  transition: all 0.3s ease;
}

.quick-btn:hover {
  background: #111111;
  color: #fff;
}

/* X button */
.quick-close {
  position: absolute;
  top: -5px;
  left: -32px;

  width: 32px;
  height: 32px;

  background: rgba(190,190,190,0.5);
  border: 0;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  backdrop-filter: blur(10px);
}

.quick-close i {
  font-size: 14px;
  color: #111111;
}

.quick-text-mobile {
  display: none;
}

/* mobile */
@media (max-width: 767px) {

  .quick-btn {
    width: 96px;
    height: 52px;

    border-radius: 999px;
    font-size: 16px;
  }

  /* 모바일 X버튼 간격 확보 */
  .quick-close {
    top: -10px;
    left: -30px;

    width: 28px;
    height: 28px;
  }

  .quick-close i {
    font-size: 12px;
  }

  .quick-text {
    display: none;
  }

  .quick-text-mobile {
    display: block;
  }
}
.quick-close:hover,
.quick-close:focus,
.quick-close:active {
  background: rgba(190,190,190,0.5) !important;
  box-shadow: none !important;
  border: 0 !important;
}

/* 버튼 */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 180px;
  height: 60px;

  border: 1.5px solid var(--color-white);
  border-radius: 999px;

  background: rgba(255, 255, 255, 0.3);
  color: var(--color-white);

  transition: all 0.3s ease;
}

.review-arrow-btn {
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 50%;
  background-color: #EDEDED;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.review-arrow-btn i {
  font-size: 36px;
  line-height: 1;
  color: #A4A4A4;
  transition: all 0.3s ease;
}

.review-arrow-btn:hover {
  background-color: #111111;
}

.review-arrow-btn:hover i {
  color: #fff;
}

#newsletter .btn {
  background-color: rgba(17, 17, 17, 0.8);
  border: 1.5px solid var(--color-white);
  color: var(--color-white) !important;
}

#newsletter input.form-control {
  background-color: rgba(255, 255, 255, 0.3) !important;
  border: 1.5px solid var(--color-white) !important;
  color: var(--color-white) !important;
}

#newsletter input.form-control::placeholder {
  color: rgba(255, 255, 255, 0.7) !important;
}

#newsletter input.form-control:focus {
  background-color: rgba(255, 255, 255, 0.4) !important;
  color: var(--color-white) !important;
  border-color: var(--color-white) !important;
  box-shadow: none !important;
}

.newsletter-input,
.newsletter-btn {
  border-radius: 10px;
}

/* 모바일 */
@media (max-width: 767px) {
  .review-arrow-btn {
    width: 40px;
    height: 40px;
  }

  .review-arrow-btn i {
    font-size: 32px;
  }

  .button {
    width: 140px;
    height: 52px;
  }
}
@media (max-width: 767px) {
  .review-arrow-btn {
    width: 40px;
    height: 40px;
  }

  .review-arrow-btn i {
    font-size: 32px;
  }

  .button {
    width: 140px;
    height: 52px;
  }
  
  .newsletter-input,
  .newsletter-btn {
    border-radius: 8px;
  }
}

/* 아이템 */
.accordion-item {
  border: 0 !important;
  background: transparent !important;
  overflow: hidden;
  border-radius: 20px !important;
}

/* 기본 버튼 */
.accordion-button {
  background: var(--color-gray-100) !important;
  color: var(--color-gray-900) !important;
  box-shadow: none !important;
  padding: 1.5rem !important;
}

/* 질문 글자 */
.accordion-button .faq-question {
  color: var(--color-gray-900);
}

/* 기본 화살표 */
.accordion-button::after {
  filter: brightness(0);
}

/* 열렸을 때 */
.accordion-button:not(.collapsed) {
  background: var(--color-gray-900) !important;
  color: var(--color-white) !important;
  box-shadow: none !important;
}

/* 열렸을 때 질문 */
.accordion-button:not(.collapsed) .faq-question {
  color: var(--color-white) !important;
}

/* 열렸을 때 화살표 */
.accordion-button:not(.collapsed)::after {
  filter: brightness(0) invert(1);
}

/* 답변 영역 */
.accordion-body {
  background: var(--color-gray-900) !important;
  color:  var(--color-white) !important;
  padding-top: 0 !important;
  padding-bottom: 1.5rem !important;
}

/* Bootstrap 기본 흰 배경 제거 */
.accordion-collapse {
  background: var(--color-gray-900);
}

#reviewCarousel .card {
  background-color: var(--color-gray-100);
}
